html, body {
    height: 100%;
}

.bg-color-primary {
    background-color: #1b1e24;
}

.clickable:hover {
    cursor: pointer;
    color: #bbb !important;
}

.floating-parent {
    position: relative;
}

.floating-0 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.floating-10 {
    position: absolute;
    left: 10px;
    top: 10px;
}

.floating-undefined {
    position: absolute;
}

.btn-enabled {
    background-color: var(--bs-btn-active-bg);
}

.horizontal-drag:hover {
    cursor: w-resize;
}

.input-invalid {
    color: #cf6d55;
}

.date-input {
    width: 14em;
    text-align: center;
    color: rgba(var(--bs-secondary-rgb));

    /* The input field looks like normal text until you focus it */
    border: none;
    outline: none;
    background-color: transparent;
}

.date-input:focus {
    color: fieldtext;
    border: var(--bs-border-width) solid var(--bs-border-color);
    background-color: var(--bs-body-bg);
}