<!DOCTYPE html>

<html lang="en" data-bs-theme="dark">
    <head>
        <!-- Bootstrap -->
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="public/style.css">

        <!-- Javascript -->
        <script src="public/index.js" type="module"></script>

        <!-- Logo -->
        <link rel="icon" href="public/icons/logo-small.svg">
    </head>

    <body>
        <div class="h-100">
            <div class="h-100 w-100 m-0 overflow-hidden d-flex">
                <!-- Left Pane -->
                <!-- Width is hardocoded here but is modifiable with click-drag -->
                <div class="px-2 h-100 bg-color-primary" id="left-pane" style="width: 20rem;">
                    <!-- Banner -->
                    <div class="text-center">
                        <img src="public/icons/logo-large.svg" class="img-fluid m-2">
                    </div>

                    <!-- Search Bar -->
                    <div class="form-group">
                        <input class="form-control" id="dataset-search-input" placeholder="telemetry name" type="text">
                    </div>

                    <!-- Search Results -->
                    <div class="m-2 h-100 w-100 overflow-auto" id="dataset-search-results">
                        <p><i>Search for something!</i></p>
                    </div>
                </div>

                <div class="h-100 p-0 m-0 horizontal-drag bg-color-primary" id="left-pane-drag-handle" style="width: 10px;"></div>

                <!-- Graph -->
                <div class="w-auto p-0 h-100 d-flex flex-column flex-grow-1">
                    <!-- Toolbar -->
                    <div class="row border-bottom p-2 m-0">
                        <div class="col">
                            <div class="btn-group bg-dark w-auto mx-2">
                                <button type="button" class="btn btn-dark rounded-0 border-0 p-0" id="graph-zoom-out" title="Zoom out">
                                    <img src="public/icons/zoom-out.svg" class="img-fluid h-100">
                                </button>
                                <button type="button" class="btn btn-dark rounded-0 border-0 p-0" id="graph-zoom-in" title="Zoom in">
                                    <img src="public/icons/zoom-in.svg" class="img-fluid h-100">
                                </button>
                                <button type="button" class="btn btn-dark rounded-0 border-0 p-0" id="graph-refresh" title="Refresh the graph">
                                    <img src="public/icons/refresh.svg" class="img-fluid h-100">
                                </button>
                            </div>
                            <div class="vr h-100 btn-group"></div>
                            <div class="btn-group bg-dark w-auto mx-2">
                                <button type="button" class="btn btn-dark rounded-0 border-0 p-0" id="graph-mouse-zoom" title="Toggle mouse zoom mode">
                                    <img src="public/icons/zoom.svg" class="img-fluid h-100">
                                </button>
                                <button type="button" class="btn btn-dark rounded-0 border-0 p-0" id="graph-mouse-pan" title="Toggle mouse pan mode">
                                    <img src="public/icons/move.svg" class="img-fluid h-100">
                                </button>
                            </div>
                            <div class="vr h-100 btn-group"></div>
                            <div class="btn-group bg-dark w-auto mx-2">
                                <button type="button" class="btn btn-dark rounded-0 border-0 p-0" id="graph-point-toggle" title="Toggle points">
                                    <img src="public/icons/point.svg" class="img-fluid h-100">
                                </button>
                                <button type="button" class="btn btn-dark rounded-0 border-0 p-0" id="graph-grid-toggle" title="Toggle grid">
                                    <img src="public/icons/grid.svg" class="img-fluid h-100">
                                </button>
                            </div>
                        </div>
                        <div class="col d-flex">
                            <div class="input-group w-auto ms-auto">
                                <input class="date-input editable-text mx-1" id="start-datetime" type="text">
                                <span class="align-text-middle my-auto text-secondary">to</span>
                                <input class="date-input editable-text mx-1" id="end-datetime" type="text">
                            </div>
                        </div>
                    </div>

                    <!-- Graph canvas -->
                    <div class="row flex-grow-1 floating-parent m-0 p-0">
                        <canvas id="layer-graph" class="w-100 h-100 p-0 floating-0 z-0"></canvas>
                        <canvas id="layer-comments" class="w-100 h-100 p-0 floating-0 z-0"></canvas>
                        <canvas id="layer-interact" class="w-100 h-100 p-0 floating-0 z-1"></canvas>
                        <div id="legend" class="legend w-auto mh-50 mw-25 p-2 border rounded floating-10 bg-color-primary z-2"></div>

                        <!-- Tooltip (positioned with javascript) -->
                        <div id="tooltip" class="w-auto h-auto p-2 border rounded floating-undefined bg-color-primary z-2">
                            <p id="tooltip-value" class="p-0 m-0"></p>
                            <p id="tooltip-timestamp" class="p-0 m-0"></p>
                        </div>

                        <!-- Comment Form (positioned with javascript) -->
                        <div id="comment-form" class="w-auto h-auto p-2 border rounded floating-undefined bg-color-primary z-2 form-group">
                            <label id="comment-label" class="form-label">New Comment</label>
                            <div class="input-group input-group-sm mb-3">
                                <input id="comment-date" type="text" class="form-control date-input" placeholder="2025-04-30T12:00:00Z">
                            </div>
                            <div class="input-group input-group-sm mb-3">
                                <input id="comment-text" type="text" class="form-control" placeholder="your text here...">
                            </div>
                            <div class="input-group input-group-sm">
                                <button id="comment-button-delete" class="w-50 btn btn-outline-secondary">Delete</button>
                                <button id="comment-button-submit" class="w-50 btn btn-outline-light">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Javascript -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    </body>
</html>